body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6c63ff;
    font-family: Arial;
}

.box {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
}

h2 {
    font-size: 60px;
    color: #667eea;
}

button {
    padding: 12px 25px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

button:first-of-type { background: #e63946; }
button:nth-of-type(2) { background: #6c757d; }
button:last-of-type { background: #28a745; }